In [1]:
import pandas as pd
from MarketingAttrLib.data_generator import MamDatasets
# Load the data

df_advertising_mam = pd.read_csv('../../data/attribution data.csv')
df_advertising_mam.head()

,cookie,time,interaction,conversion,conversion_value,channel
0,00000FkCnDfDDf0iC97iC703B,2018-07-03T13:02:11Z,impression,0,0.0,Instagram
1,00000FkCnDfDDf0iC97iC703B,2018-07-17T19:15:07Z,impression,0,0.0,Online Display
2,00000FkCnDfDDf0iC97iC703B,2018-07-24T15:51:46Z,impression,0,0.0,Online Display
3,00000FkCnDfDDf0iC97iC703B,2018-07-29T07:44:51Z,impression,0,0.0,Online Display
4,0000nACkD9nFkBBDECD3ki00E,2018-07-03T09:44:57Z,impression,0,0.0,Paid Search

In [2]:
dataset = MamDatasets()
dataset.generate_data()

c:\Users\gomez\OneDrive\Documents\Programacion\UE\TFM\codigo\MAM\MarketingAttrLib\data_generator.py:22: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  'time': lambda n: pd.date_range(start=self.start_date, periods=n, freq="H").to_numpy(),

,time,cost,cookie,interaction,conversion,conversion_value,channel
0,2022-02-03 19:00:00,5.341718,cookie_47,impression,0,0.000000,Channel 2
1,2022-02-05 10:00:00,5.226331,cookie_79,conversion,1,43.336042,Channel 5
2,2022-01-16 16:00:00,5.345980,cookie_16,impression,0,0.000000,Channel 3
3,2022-01-30 12:00:00,2.930321,cookie_12,click,0,0.000000,Channel 5
4,2022-02-01 11:00:00,4.078546,cookie_47,impression,0,0.000000,Channel 5
...,...,...,...,...,...,...,...
995,2022-01-26 17:00:00,5.925198,cookie_6,impression,0,0.000000,Channel 6
996,2022-01-02 17:00:00,5.248388,cookie_87,impression,0,0.000000,Channel 3
997,2022-01-08 10:00:00,5.369144,cookie_45,impression,0,0.000000,Channel 4
998,2022-01-16 13:00:00,6.359832,cookie_78,impression,0,0.000000,Channel 2
999,2022-01-15 18:00:00,5.860667,cookie_4,impression,0,0.000000,Channel 5

In [3]:
dataset.dataset_summary()

,Total Entries,Unique Cookies,Average Cost,Average Conversion Value,Total Conversion Value,Total Cost,Conversion Rate,impression,click,conversion
0,1000,100,5.533825,48.133408,8086.412557,5533.824791,0.168,595,307,98

In [5]:
dataset.interactions_per_channel('impression')

     channel  impression Count
0  Channel 2               117
1  Channel 3               111
2  Channel 4               131
3  Channel 5               114
4  Channel 6               122